body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container{
    background: white;
    padding: 20px;
    border: 1px solid;
    box-shadow: 5px 10px lightgray;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
   display: block; 
   margin-bottom: 5px;
}

.form-group input{
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.form-group button{
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover{
    background-color: limegreen;
}

.submitted-data{
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #f9f9f9;
}